.benefits {
    padding: 94px 0;
    &__box{
        display: flex;
        margin-bottom: 30px;
        height: 120px;
        background-color: $secondary-bgc;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
    }
}
.benefits__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}
.benefits__item:last-child {
    margin-right: 0;
}
.benefits__heading--visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}