.header__logo,
.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
}
.header__logo {
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin: 0;
    padding: 16px 0;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 26px 0;
  }
  @media (min-width: 1200px) {
    padding: 24px 0 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__logo {
  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
