.header {
  
}
.container {
  display: flex;
  align-items: center;

  min-width: 320px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    max-width: 480px;
    min-height: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    min-height: 80px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:focus,
.menu-toggle:hover {
  fill: $accent-color;
}
.icon-close:focus {
  fill: $accent-color;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $bgc;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $bgc;
}

.mobile-menu {
  padding: 0;
  margin-bottom: 100px;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: $bgc;
  text-decoration: none;
}
.contacts__item + .contacts__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
