.header {
  position: relative;
  color: $bgc;
  border-bottom: 1px solid #ececec;
}

.header__container {
  @media (min-width: 768px) {
    min-height: 80px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.header__contact-list {
  display: flex;
  align-items: baseline;
  @media (min-width: 767px) and (max-width: 1199px) {
    flex-direction: column;
  }
}
.nav__list {
  display: flex;
  @media (min-width: 767px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media (min-width: 1200px) {
    margin-right: 295px;
  }
}
.header__contact-item + .header__contact-item {
  @media (min-width: 1200px) {
    margin-left: 50px;
  }
}
.nav__item + .nav__item {
  margin-left: 50px;
}
.header__contact-item + .header__contact-item {
  @media (min-width: 767px) and (max-width: 1199px) {
    margin-top: 10px;
  }
}
.header__contact-item {
  align-items: baseline;
  font-weight: 500;
  letter-spacing: 0.02em;
  @media (min-width: 767px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header__contact-link {
  color: $secondary-text-color;
}
.header__contact-link:hover,
.header__contact-link:focus {
  color: $accent-color;
}

.nav__item {
  @media screen and (min-width: 768px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $primery-text-color;
  }
}
.contacts__list {
  display: flex;
  justify-content: center;
  color: $secondary-text-color;
  flex-direction: column-reverse;

  @media screen and (max-width: 767px) {
    margin-top: auto;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 84px;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }
}

.logo__title {
  color: $primery-text-color;
}
.site-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.site-nav__link,
.site-nav__link--current {
  position: relative;

  color: $primery-text-color;

  transition: $transition-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current:hover,
.site-nav__link--current:focus {
  color: $accent-color;
}

.site-nav__link--current {
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    content: '';
    bottom: -33px;

    display: block;
    border-radius: 2px;

    width: 100%;
    height: 4px;

    background: $accent-color;
  }
}
.contacts__link.mail {
  color: $secondary-text-color;
  @media (max-width: 479px) {
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
.tel {
  color: $accent-color;
  @media (min-width: 320px) and (max-width: 479px) {
    font-size: 25px;
  }
}

.contacts__link {
  display: flex;

  @media (max-width: 479px) {
    font-size: 25px;
  }
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  align-items: center;
  font-weight: 500;
  transition: color $transition-animation;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.icon-tel {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.header__socials {
  display: flex;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__socials-link {
  display: block;
  padding-left: 10px;
  padding-right: 10px;

  color: $accent-color;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
}
