body {
  background-color: $bgc;
  color: $primery-text-color;
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-bottom: 4px;
}

h3 {
  margin-bottom: 10px;
}

img {
  display: block;
}
textarea {
  resize: none;
}
